/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.connect-button {
    background-color: #fca311;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  
.highlighted {
  background-color:  #A9A9A9 !important; /* Change the color to your preference */
  cursor: pointer; /* Change the cursor to indicate interactivity */
}

.highlighted:hover {
  background-color:  #A9A9A9 !important; /* Change the hover color if needed */
}

.hasValue {
  background-color: gold;
}
